[submodule "u-boot"]
	path = u-boot
	url = https://gitlab.com/pine64-org/u-boot.git
[submodule "sunxi-mali"]
	path = sunxi-mali
	url = https://gitlab.com/pine64-org/sunxi-mali.git
[submodule "platform-firmware"]
	path = platform-firmware
	url = https://gitlab.com/pine64-org/platform-firmware.git
